@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/ma")
    @RenderSection("EndOfHead",false)
</head>
<body>
    <div>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                  <li>@Html.ActionLink("Today's Deal","Index","Home")</li>
                  <li>@Html.ActionLink("Browse All","Index","CrossFit")</li>
                  <li>@Html.ActionLink("Contact Us","Index","Contact")</li>
                  <li class="dropdown">
                      <a class="dropdown-toggle"
                         data-toggle="dropdown"
                         href="#">
                          Login
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
          
                </ul>
                <span class="main-logo">
                <a href="#"></a><div class="muscle-ant-logo">Muscle Ant</div></a>
                </span>
            </div>
			      <hr>
            @RenderBody()
            
            
            <div class="footer">
                <span>&copy; Muscle Ant 2013</span>
                <span><a href="#">Terms & Conditions</a></span>
                <span><a href="#">Privacy Policy</a></span>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
     @RenderSection("EndOfBody",false)
	<script type="text/javascript">
		$('.nav li').each(function (i) {
			if ($(this).find('a').attr('href')==window.location.pathname) {
				$(this).addClass('active');
			}
		});

	</script>
</body>
</html>
